 <div class="usermenu-div modal-win dowload-option" style="display:block">
     <div class="info-inner">
     <div class="holder">
        <div class="info-content">
        		<div class="menu-options" style="display:none;">
                   <ul>
                       <li class="chnage-password" title="Click here to change your password."><a href="#">Change Password</a></li>
                       <li class="signout" title="Click here to logout."><a href="#">Sign Out</a></li>
                   </ul>
              	</div>
        </div>
       </div>
     </div>
 </div>
