<div id="widget-attendance" class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
	<div class="portlet-content">
            <div id="datepicker">
        </div>
        <div class="attendance-summary">
            <ul>
                <li><table>      
                    <tbody>
                      <tr>
                        <td style="width:25%">
                            <label style="font-size: 14px;float:right">Present :</label> 
                       </td>
                        <td>
                            <div style="width: 150px">
                                <div class="attendence_percenrage" style="background: #ADFF2F;">
                                </div>
                            </div>
                        </td>		
                        <td style="width:23%">
                            <label class="attendence_count_font"></label>
                        </td>		
                      </tr>
                    </tbody>
                    </table>
               </li>
                <li><table>      
                    <tbody>
                      <tr>
                        <td style="width:25%">
                            <label style="font-size: 14px;float:right">Absent :</label> 
                       </td>
                        <td>
                           <div style="width: 150px">
                                <div class="attendence_percenrage" style="background: #FFA500;">
                                </div>
                            </div>
                        </td>		
                        <td style="width:23%">
                                <label class="attendence_count_font"></label>
                        </td>		
                      </tr>
                    </tbody>
                    </table>
                </li>
                <li><table>      
                    <tbody>
                      <tr>
                        <td style="width:25%">
                            <label style="font-size: 14px;float:right">Late :</label> 
                       </td>
                        <td>
                            <div style="width: 150px;float: right;"><div class="attendence_percenrage" style="background: yellow;">
                            </div></div>
                        </td>		
                        <td style="width:23%">
                            <label class="attendence_count_font"></label>
                        </td>		
                      </tr>
                    </tbody>
                    </table>




                </li>
            </ul>
        </div
</div>
