<ul class='nav-menu'>
 <li class="quick-links" callback="recentActivity"><a href="#">Recent Activity</a></li>
<%
this.each(function(row){%>
    <li class="quick-links" callback="<%=row.callback%>"><a href="#"><%=row.attr('name')%></a></li>
<br>
<%});
%>

</ul>
