<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
	<div class="portlet-header ui-widget-header ui-corner-all">
                <span class='ui-icon ui-icon-minusthick'></span><%=this.title%>
        </div>
	<div class="portlet-content">
           <table style="width:300px" border=1>
            <tr>
             <td>Teacher 1</td>
             <td>Teacher 2</td>		
             <td>Teacher 3</td>
            </tr>
            <tr>
             <td>Teacher 4</td>
             <td>Teacher 5</td>		
             <td>Teacher 6</td>
            </tr>
            <tr>
             <td>Teacher 7</td>
             <td>Teacher 8</td>		
             <td>Teacher 9</td>
            </tr>
          </table>
        </div>
</div>
